*{
  background-color: rgb(255, 255, 255);
}
.favs-text{
  display:inline-block;
  font-family: 'Play', sans-serif;
  color: rgb(148, 219, 252);
  font-weight: 700;
  font-size:500%;
  text-align: center;
  font-size: 55px;
  margin-left: 41%;
  margin-top:50px;
}

#scroll-container {
  border: 10px solid rgb(255, 51, 56);
  border-radius: 5px;
  overflow: hidden;
  height: 10%;
  width:60%;
  margin-left: auto;
  margin-right: auto;
}

#scroll-text {
  text-align: right;
  font-family: 'Play', sans-serif;
  font-size: 60px;
  color: rgb(148, 219, 252);
  /* animation properties */
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  
  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(-100%); }
  to { -moz-transform: translateX(100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(-100%); }
  to { -webkit-transform: translateX(100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}