*{
  background-color: blue;
}
.favs-text{
  display:inline-block;
  margin-left: 10px;
  margin-top: 100px;
  font-family: 'Play', sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size:500%;
  text-align: center;
}

#scroll-container {
  border: 5px solid black;
  border-radius: 5px;
  overflow: hidden;
  height: 10%;
}

#scroll-text {
  text-align: right;
  font-family: 'Play', sans-serif;
  font-size: 60px;
  /* animation properties */
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  
  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(-100%); }
  to { -moz-transform: translateX(100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(-100%); }
  to { -webkit-transform: translateX(100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}